
body{
    padding-left: 20px;
    background-color: #F5F5DC !important;
}
/*#presentation {
    font-size: 14px;
    transition-property: font-size;
    transition-duration: 4s;
    transition-delay: 2s;
  }
  
#presentation:hover {
    font-size: 36px;
}*/

section{
    padding:30px;
}
#photoCookie img {
    max-width: 100%;
    height: auto;
}

#photoCookie:hover {
    transform: scale(1.2); 
    cursor: pointer; 
}


h1, h2, h3, h4{
    display: flex;
    justify-content: center;
    font-family: Verdana;
    margin-top: 40px;
    margin-bottom: 30px;
}

div{
    font-family: 'Courier New';
}

.class{
    text-decoration: none;
    size: 15px;
}

.phrase-footer, .texte{
    display: flex;
    justify-content: center;
}

.container div {
    margin: 10px;
    border: 0.5vh solid #ccc;
    padding: 10px; 
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 5px 0;
    display: inline;
}

.site-footer{
    align-items: center;
    margin-top: 100px;
}

a:hover{
    color : rgba(112,114,110);
}

a:visited{
    color: green;
}

#map {
    display: grid;
    place-items: center;
}

#logo{
    width: 5%;
}

@media only screen and (max-device-width: 828px) and (max-device-height: 1792px) {
    .texte{
        font-size: 20px;
    }
    section {
        padding: 20px;
    }
    h1, h2, h3 {
        margin-top: 15px;
    }
    #logo{
        width: 15%;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    section {
        padding: 10px;
    }
    h1, h2, h3 {
        margin-top: 15px;
    }
    #logo{
        width: 10%;
    }

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
  }
.contenu-site{
    margin-top: 100px;
}

